
/* App.css */
.hover-text-danger {
    transition: all 0.2s ease-in-out; /* Suaviza la animación */
}

.hover-text-danger:hover {
    color: #dc3545 !important; /* Rojo Bootstrap */
    transform: scale(1.2);     /* Crece un 20% */
}